 @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,400,600,700);
 * {
    margin: 0;
    padding: 0;
 }
 html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 body, h1, h2, h3, h4, h5, h6 {
    //height: 100%;
    width: 100%;
    font-family: "Source Sans Pro", helvetica, sans-serif;
    font-weight: 300;

}

h4 {
    line-height: 30px;
}
p {
    margin: 0 0 10px;
    line-height: 25px;
    font-size: 15px;
}

div#primary {
    padding-top: 100px;
}
.clearfix {
    display: block;
    overflow: hidden;
    clear: both;
}
.button {
  font-size: 18px;
  font-weight: 600 !important;
  font-family: 'Montserrat';
  color: #ffffff !important;
  border: 0 !important;
  border-radius: 0 !important;
  background: #fc913b !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.button:hover,
.button:focus {
  outline: 0;
  color: #ffffff !important;
  background: #3498db !important;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1) !important;
}

.whitespace {
    height: 60px;
}
.padding_top_50{
    padding-top: 50px;
}
.padding_bottom_50{
	padding-bottom: 50px;
}
/* Nav style */
.text_logo {
    font-weight: bold;
    font-size: 30px;
    color: #3498db;
}
.navbar-brand {
    padding: 4px 0;
    height: inherit !important;
}
.navbar-brand img {
    height: 50px;
}
.navbar-default.navbar_header {
    background-color: #fff;
    border-color: #fff;
    width: 100%;
    background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}
.navbar-nav>li>a {
    color: #3c3c3c;
    font-size: 16px;
    line-height: 3.5625em;
    padding-top: 2px;
    padding-bottom: 0px;
}
.navbar-toggle {
    background: #dbdbdb;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #3498db;
    background-color: transparent;
}

/* banner section */
.intro-header {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.intro-message {
    position: relative;
}
.intro-message h1{
    font-size: 58px;
    line-height: 65px;
    font-weight: 100;
    color: #fff;
    padding-bottom: 0px;
    margin: 0px;
} 
.intro-message h2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 100;
    color: #fff;
    padding-bottom: 25px;
    margin: 0px;
    margin: 0px;
} 
.intro-message > h1 {
    text-shadow: none;
}
.b_location_form{
	background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.left_input_locationf {
    width: 730px;
    float: left;
}
.left_input_locationf input[type=text] {
    width: 65%;
    line-height: 58px;
    font-size: 18px;
    font-weight: 100;
    color: #3d3d3d;
    padding: 2px 25px 0px 25px;
    background-color: #fff;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px;
    float: left;
}

.left_input_locationf .dropdown {
    position: relative;
    height: 60px;
    width: 33%;
    float: left;
    margin-left: 2px;
    z-index: 100;
}
.left_input_locationf input.floatright.button-1 {
    line-height: 60px;
    padding: 0px 30px;
    display: inline-block;
    color: #fff;
    background-color: #fc913b;
    border: 0px;
    border-radius: 3px;
    position: relative;
}


.b_location_form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-flex;
    width: 80%;
}
.input_location {
    display: flex;
    flex-grow: 1;
}
.b_location_form input[type="text"],
.b_location_form input[type="search"],
.b_location_form input[type="submit"], 
.b_location_form select {
    font-size: 19px;
    font-weight: 100;
    color: #3d3d3d;
    padding: 17px 25px;
    background-color: #fff;
    border: 0px;
    line-height: 25px;
    outline: 0;
}
.b_location_form input[type="text"] {
    border-radius: 5px;
    width: 100%;
}
.select_location,
.select_category {
    position: relative;
}
.b_location_form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 2px;
    padding: 18px 40px;
    padding-right: 112px;
}
.select_location:before,
.select_location:after,
.select_category:after {
	position: absolute;
	color: #3d3d3d;
	font-size: 28px;
	font-family: 'FontAwesome';
}
.select_location:before {
    content: "\f041";
    left: 15px;
    line-height: 65px;
    color:#999;
    
}
.select_location:after, 
.select_category:after {
    content: "\f107";
    top: 0;
    right: 12px;
    line-height: 62px;
}
.b_location_form input[type="submit"] {
	color: #fff;
    background-color: #fc913b;
    border: 0px;
    border-radius: 3px;
    margin-left: 25px;
}



@media (max-width: 776px) {
	.b_location_form {
	    display: block;
	    width: 80%;
	    margin: 0 auto;
	}
	.input_location input[type="text"] {
	    border-radius: 5px;
	    width: 100%;
	    margin-bottom: 15px;
	}
	.select_location select {
	    width: 100%;
	    border-radius: 5px;
	    margin-bottom: 15px;
	}
}

/*section explore */

.section_header {
    text-align: center;
    margin: 50px 0px;
}
.explore_location_list {
    margin: 30px 0px;
}
.explore_location_list .explore_item {
    position: relative;
    display: block;
}
.explore_location_list .explore_img img {
    width: 100%;
    height: auto;
}
.explore_location_list .explore_item .explore_title {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0% 0 0 -50%;
}
.explore_title h2 {
    font-size: 28px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    display: block;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}
a.explore_item:hover .explore_title h2 {
    opacity: 0.75;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
}
.more_explore{
	margin:30px 0px;
}
.more_explore a{
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 60px;
    color: #fc913b;
    text-decoration: none;
    outline: 0;
}   
.more_explore:hover a{
	color: #3f3e3d;
	text-decoration: none;
}
.explore_img {
    position: relative;
}
.explore_img:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0,0,0,0.2); */
}

/* features section */
a.feature_item {
    position: relative;
    margin: 0px 0px 0px 0px;
    display: block;
}
/*.feature_item {  
    height: 300px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}*/
.feature_item {
    height: 300px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.feature_img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
}
span.label-bottom {
    color: #000;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #fff;
    display: block;
    border: 1px #eaeaea solid;
}
span.label-bottom:hover {
    opacity: 0.9;
}
span.hourly-rate {
    padding: 5px 0px 0px 0px;
    font-size: 13px;
    color: #999999;
    display: block;
}

/* services section */
.service_item{
	text-align: center;
}
 .service_icon{
    display: block;
    text-align: center;
    background: transparent;
    border: 1px solid #eceff8;
    border-radius: 50%;
    display: block;
    height: 90px;
    margin: 0 auto;
    padding: 9px;
    text-align: center;
    width: 90px;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
 .service_icon i {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: #363636;
    font-size: 26px;
    text-align: center;
    line-height: 75px;
    background: #eceff8;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.service_item:hover .service_icon i {
    background: #fc913b;
    color: #fff;
}
.service_icon_content h4 {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 25px;
    font-size: 23px;
}
.service_icon_content h4:after {
    position: absolute;
    content: "";
    width: 70px;
    height: 2px;
    background: #fc913b;
    margin: 0 auto;
    left: 50%;
    margin-left: -35px;
    bottom: -10px;
}
.service_icon_content p {
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.3px;
}
/* feature video section */
.feature_video_item iframe {
    width: 100%;
    display: block;
     -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

/*--------------------------------------
============Testimonial Css Start===========
----------------------------------------*/

.testimonial {
	color: #FFFFFF;
    overflow: hidden;
    background-color: #fc913b;
}
.testimonial .testimonial_single {
	padding: 100px 0;
    outline: 0;
}
.testimonial .testimonial_single p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 50px;
    line-height: 29px;
    letter-spacing: .5px;
}
.testimonial .testimonial_single h5.client_name {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 5px;
}
.testimonial .testimonial_single span.client_location {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 5px;
}


/*--------------------------------------
============Call to action ===========
----------------------------------------*/
#calltoaction_secton {
    background: #d35400;
    background: linear-gradient(#fc913b, #e67e22);
    background: -webkit-linear-gradien(#fc913b, #e67e22);
    background: -o-linear-gradient(#fc913b, #e67e22);
    background: -moz-linear-gradient(#fc913b, #e67e22);

    color: #fff;
    padding: 50px 0px;
}
span.call_action_text h3 {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*--------------------------------------
============Footer Section Css Start===========
----------------------------------------*/
footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
#footer_section {
    background: #333;
    color: #fff;
}
.footer_top {
    text-align: center;
}
.copyright_text {
    text-align: center;
}
ul.footer_nav.list-inline {
    margin-bottom: 30px;
}
ul.footer_nav.list-inline li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 5px 13px;
}
ul.footer_nav.list-inline li:hover a {
    color: #fc913b;
}
ul.social_media.list-inline {
    margin-bottom: 30px;
}
ul.social_media.list-inline li a {
    font-size: 30px;
    padding: 7px 7px;
    color:#fc913b;
}
hr {
    border-color: #fc913b;
    padding: 5px;
}
.become_vendor_btn a {
    background: #fc913b;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 7px;
    text-decoration: none;
    display: block;
}

/**========================
Vendor page
=======================***/
.vendor_section {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.vendor_banner {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}
.vedor_banner_btn {
    width: 40% !important;
    margin: auto;
    text-transform: UPPERCASE;
    font-weight: bold;
     border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    
}
.vedor_banner_btn a {
    padding: 14px 0px !important;
    font-size: 33px;
    background: #fc913b;
    padding: 10px 20px;
    color: #fff;
    font-size: 25px;
    display: block;
    text-transform: UPPERCASE;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/**========================
 advantage section
 ============================**/

.align-center {
    text-align: center;
}
.advantage_icon span {
    font-size: 55px;
    color: #fc913b;
}
.advantage_content a {
    color: #333;
    text-decoration: none;
}
.advantage_content:hover a {
    color: #4F8EF7;
    text-decoration: none;
}

/**========================
Priceing Section
 ============================**/
#pricing-table {
    padding-top: 60px;
    display: block;
    padding-bottom: 30px;
}
.btn-custom {
  color: #bdc3c7;
  font-size: 18px;
  border: 1px solid #bdc3c7;
}
.btn-custom:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
#pricing-table .pricing {
  marign: 0;
  padding: 0;
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 30px;
}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #34495e;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 30px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 16px;
  color: #bdc3c7;
  text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
  padding: 20px 0 40px 0;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #bdc3c7;
  font-size: 16px;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}
a.btn.btn-custom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.active {
    color: #fc913b;
    border-color: #fc913b;
}
/**======================
services info
=======================**/

.servies_info_item {
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding: 15px;
}
span.servies_info_icon {
    background-color: #202C45;
    color: #fff;
    display: inline-block;
    height: 68px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 68px;
    border-left: 3px solid #fc913b !important;
    float: left;
    margin-right:30px;
}
span.servies_info_icon i {
    display: inline-block;
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    line-height: 68px;
}
.servies_info_conent {
    overflow: hidden;
}
.servies_info_conent h4{
    margin:0px;
    line-height: 20px;
    padding-bottom:15px;

}

/**=====================
Advantage 3d Section 
=======================**/
#advantage_3d_section{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.video_content {
    padding: 180px 0;
}
.video_content a {
    border: 1px solid #fff;
    border-radius: 500px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    display: block;
    line-height: 82px;
    padding-left: 11px;
    color: #FFF;
    background-color: rgba(52, 152, 219, 0.5);
    margin: 0 auto;
    cursor: pointer;
    outline: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.video_content a:hover {
    color: #FFF;
    border-color: #3498db;
    background-color: #3498db;
}
.video_content .title {
    font-size: 60px;
    color: #FFF;
}
.video_content .sub-title {
    font-size: 20px;
    color: #DDD;
}
/* vendor dashboard style */
main#main {
    margin: 40px 0px;
}
/* custom color section */
ul.social_media.list-inline li a, .advantage_icon span, .more_explore a{
    color: #3498db;
}
.advantage_icon span, .more_explore:hover a{
    color: #fc913b;
}
span.servies_info_icon, .testimonial, .vedor_banner_btn, .become_vendor_btn a {
    background: #3498db;

}
.vedor_banner_btn, .become_vendor_btn:hover a {
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    background-color: #fc913b;
    border: #fc913b;
}


/* woocommerce */
.woocommerce .woocommerce-breadcrumb, 
.woocommerce-breadcrumb {
    margin: 2em 0;
}
.seller_overview {
    display: inline-flex;
    margin-bottom: 2em;
    background-color: #ddd;
    width: 100%;
    padding: 1em;
}
.seller_overview .seller_img {
    height: 80px;
    width: 80px;
    margin-right: 1em;
}
.seller_overview .seller_img img {
    border-radius: 50%;
    border: 1px solid #FFF;
}

.seller_overview .store-name {
    font-weight: bold;
}

.woocommerce-tabs h2 {
    font-size: 24px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding-left: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background: #3498db;
    border: 0;
    border-radius: 0;
    position: static !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    color: #FFF;
    padding: 0.6em 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    color: #FFF;
    background: #fc913b;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #ddd;
}

#woopcomm .wpc-comment-author a {
    color: #3498db;
}


/* shop page */
.custom_product {
    margin-bottom: 30px;
}
img.pro_thumb {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    width: 100%;
    display: block;
    height: auto;
}
.pro_overlay {
    position: relative;
}
span.pro_price {
    color: #3c3c3c;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 0px 5px 0px 5px;
    font-weight: 600;
    background-color: rgba(255,255,255,0.95);
    position: absolute;
    top: 0px !important;
    right: 0px;
}
span.pro_day {
    font-size: 13px;
    color: #3c3c3c;
    font-weight: 600;
}
span.author_info {
    background: #ddd;
    overflow: hidden;
    display: block;
    border-radius: 0px 0px 5px 5px;
}
span.author_info a {
    text-decoration: none;
}
span.pro_title {
    position: absolute;
    bottom: 85px;
    //z-index: 99999;
    display: block;
    color: #fff;
    padding: 0px 15px;
    font-size: 15px;
    line-height: 20px;
}
img.img-responsive.pro_auth_img {
    margin: 12px 12px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
}
span.author_info img {
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 10px;
    padding-top: 3px;
    margin-left: 10px;
    border-radius: 5px;
}
span.author_info h5 {
    line-height: 22px;
    color: #333;
    font-size: 15px;
}


/*--------- Product Filter Widget -----------*/
.price_slider_wrapper {
  padding: 0 10px;
}
.price_slider_wrapper .ui-widget-content {
  background-color: #9D9D9D !important;
}
.price_slider_wrapper .ui-slider {
  height: 2px !important;
}
.price_slider_wrapper .ui-slider .ui-slider-range {
  background: #182342 !important;
}
.price_slider_wrapper .ui-slider .ui-slider-handle {
  top: -5px !important;
  width: 10px !important;
  height: 10px !important;
  background-color: #ffffff !important;
  border: 2px solid #fc913b !important;
}
.price_slider_wrapper .button {
  color: #ffffff !important;
  font-size: 14px !important;
  margin-top: 6px !important;
}
/*--------- Categories Widget ---------*/
.widget_product_categories .widget_title {
  margin-bottom: 0 !important;
}
.widget_product_categories .product-categories li {
  position: relative;
  list-style: none;
}
.widget_product_categories .product-categories li a {
  font-size: 14px;
  color: #272727;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  padding: 15px 20px;
  border-top: 1px solid #EEEEEE;
}
.widget_product_categories .product-categories li .arrow_right {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.widget_product_categories .product-categories li ul.children {
  display: none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.widget_product_categories .product-categories li ul.children li a {
  color: #9b9b9c;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}
.current-cat-parent > a,
.current-cat > a {
  color: #fc913b !important;
}
.current-cat-parent ul.children {
  display: block !important;
}
/*------------- ARCHIVES Widgets --------------*/
.widget_archive .widget_title,
.widget_categories .widget_title {
  margin-bottom: 0 !important;
}
.widget_archive ul,
.widget_categories ul {
  padding: 0 !important;
}
.widget_archive ul li,
.widget_categories ul li {
  padding: 10px 0;
  border-bottom: 1px solid #EEEEEE;
}
.widget_archive ul li a,
.widget_categories ul li a {
  color: #272727;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 15px;
}
.widget_archive ul li a:hover,
.widget_categories ul li a:hover {
  color: #fc913b;
}

/*------------------ Sidebar ------------------------*/
.sidebar_wrapper ul {
  list-style: none;
}
.sidebar_wrapper .widget {
  background: #F8F8F8;
  padding: 0 0 15px;
  margin-bottom: 35px;
}
.sidebar_wrapper .widget .widget_title {
  background: #F0F0F0;
  padding: 10px 10px;
  margin: 0 0 20px;
  font-size: 14px;
  color: #272727;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/* widget  mini cart */
.widget_shopping_cart ul.cart_list li.mini_cart_item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.widget_shopping_cart ul.cart_list li.mini_cart_item .remove {
  color: #fc913b !important;
  font-size: 20px !important;
  line-height: 10px !important;
  text-align: center !important;
  border: 2px solid #fc913b !important;
  width: 17px !Important;
  height: 17px !important;
  top: 25px !important;
  left: 10px !important;
}
.widget_shopping_cart ul.cart_list li.mini_cart_item .remove:hover {
  background: #fc913b;
  color: #ffffff !important;
}
.widget_shopping_cart ul.cart_list li.mini_cart_item a {
  color: #272727;
  font-size: 14px;
  font-weight: 600;
}
.widget_shopping_cart ul.cart_list li.mini_cart_item .quantity {
  font-size: 14px;
  font-weight: 300;
}
.widget_shopping_cart ul.cart_list li.mini_cart_item .total {
  font-size: 14px;
}
/*--------------------- My account -----------------*/
.woocommerce-info {
  border-top: 0;
  border-left: 8px solid #fc913b;
  background: #272727;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.woocommerce-info a {
  color: #ffffff;
  font-weight: 400;
}
.woocommerce-info a:hover {
  color: #fc913b;
}
.woocommerce-info:before {
  color: #fc913b;
}
.woocommerce-account .woocommerce {
  margin-top: 20px;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
  background: #F0F0F0;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a {
  font-size: 14px;
  color: #272727;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  display: block;
  padding: 15px 20px 15px;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a:hover {
  color: #ffffff;
  background: #fc913b;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li a:after {
  content: "\f3d1";
  font-family: "Ionicons";
  right: 20px;
  position: absolute;
}
.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul li.is-active a {
  color: #ffffff;
  background: #fc913b;
}

/* 404 page style */
.section-title {
    padding: 90px 0;
}
.text-center {
    text-align: center;
}
.error-content h1 {
    font-size: 90px;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 110px;
    text-transform: uppercase;
    padding: 30px 25px;
}
.error-content h1 span {
    color: #fff;
    padding: 0px 9px;
}
.error-content h1, .error-content a {
    -webkit-animation: 2s ease 0s normal none infinite running bounce;
    -moz-animation: 2s ease 0s normal none infinite running bounce;
    -ms-animation: 2s ease 0s normal none infinite running bounce;
    -o-animation: 2s ease 0s normal none infinite running bounce;
    animation: 2s ease 0s normal none infinite running bounce;
}
.four {
    background: #3498db;
}
.zero {
    background: #fc913b;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff !important;
}

.error-content h2 {
    color: #333;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 60px;
    text-transform: uppercase;
}
.error-content h2 span {
    color: #3498db;
}
.error-content p {
    color: #333;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
}
.error-content a.back-home {
    font-size: 14px;
    color: #fff;
    background: #3498db;
    border: 1px solid #3498db;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 40px;
    font-weight: 500;
    display: inline-block;
    margin-top: 42px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

/* grid button */

.grid-button {
    position: absolute;
    top: -75px;
    right: 0;
    margin-bottom: 20px;
}
.grid-button a {
    font-size: 19px;
    padding: 0px 20px;
    line-height: 2;
    margin: 0;
}
.grid-button .btn span {
    font-size: 25px;
    margin-right:10px;
}
.layout {
    transition: all 0.9s;
}
.list_layout {
    display: inline-flex;
    align-items: center;
}

.list_layout img {
    width: 25%;
    border-radius: 5px;
}
.list_layout .product_info {
    width: 60%;
    padding-top: 65px;
    margin-left: 20px;
}
.list_layout .custom_product {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}
.list_layout span.pro_title {
    color: #807d7c;
    position: absolute;
    top: 0;
    font-size: 19px;
    width: 55%;
    line-height: 25px;
    font-weight: bold;
}
.list_layout span.author_info {
    background: transparent;
}
.list_layout span.author_info h5 {
    display: inline;
}
.list_layout span.pro_price {
    display: block;
    font-size: 35px !important;
    line-height: 13px;
}
.list_layout span.pro_day {
    display: inherit;
    font-size: 19px;
    line-height: 50px;
    font-weight: 200;
    text-align: right;
}

.list_layout span.hide_list {
    display: none;
}
/* google maps */

#product_map {
    height: 400px !important;
    width: 100% !important;
    }
/*.maps_layout .custom_product {
    display: none;
}*/
.maps_hidde {
    display: none;
}

.maps_show {
    display: block !important;
}

.grid_layout div#product_map, .list_layout div#product_map, .maps_layout .custom_product {
    display: none;
} 
.pagination {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
/* google maps info */
.gm-style-iw {
    width: 250px !important;
    top: 15px !important;
    left: 0 !important;
    background-color: #fff;
    //box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 0 0;
    overflow-x: hidden!important;
    border-top-left-radius: 5px;
    border: none;
    border-top-right-radius: 5px;
    position: relative;
}
h3.protitle {
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    bottom: 60px;
    padding: 5px 12px;
}
.mapautimg img {
    border-radius: 5px !important;
    float: left;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 14px;
}
img.pro_image {
    width: 100%;
}
.mapinfoauthor {
    background: #fff !important;
    padding: 30px 10px;
}
.mapautprice {
    float: right;
    position: absolute;
    right: 5px;
    bottom: 20px;
}
span.map_price {
    text-align: right;
}
span.map_price {
    text-align: right;
    font-size: 17px;
    font-weight: 300;
    color: #333;
    font-weight: bold;
}
p.map_author_name {
    left: 55px;
    position: absolute;
    font-size: 14px;
    bottom: 11px;
    color:#333;
}

/* white background and box outline */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div
{
    /* we have to use !important because we are overwritng inline styles */
    background-color: transparent !important;
    box-shadow: none !important;
    width: auto !important;
    height: auto !important;
}

/* arrow colour */
.gm-style > div:first-child > div + div > div:last-child > div > div:first-child > div > div > div
{
    background-color: #fff !important; 
    box-shadow: none !important;
    border:none;
}

/* close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child
{
    margin-right: 5px;
    margin-top: 5px;
    position: absolute !important;
    right: 48px !important;
}

/* image icon inside close button */
.gm-style > div:first-child > div + div > div:last-child > div > div:last-child > img
{
    display: block;
}
