
@media (max-width: 776px) {
.explore_location_list .explore_item {
    margin-bottom: 25px;
}	
a.feature_item {
    margin-bottom: 25px;
}	
.service_item {
    margin-bottom: 60px;
}
.feature_video_item {
    margin-bottom: 25px;
}
section#feature_video_section .section_header h4 {
    padding: 5px !important;
}
.pull-right {
    float: left !important;
    margin-top: 20px;
}
.vedor_banner_btn {
    width: 80% !important;
}
/* escaperoom tab */
.escaperoom_pro_tab {
    margin-left: 15px;
}
h2.list_pro_tile {
    margin-top: 15px;
}
.list_escaperoom {
    padding-bottom: 0px;
}
.listmobile {
    padding-bottom: 25px;
    margin-top: -35px;
}
.hidden-md{
    display: block;
}
.single_product_thmub_slider.slick-initialized.slick-slider.slick-dotted {
    width: 100%;
    float: none;
}
}
