@media (max-width: 776px) {
.explore_location_list .explore_item {
    margin-bottom: 25px;
}	
a.feature_item {
    margin-bottom: 25px;
}	
.service_item {
    margin-bottom: 60px;
}
.feature_video_item {
    margin-bottom: 25px;
}
section#feature_video_section .section_header h4 {
    padding: 5px !important;
}
.pull-right {
    float: left !important;
    margin-top: 20px;
}
.vedor_banner_btn {
    width: 80% !important;
}
.list_layout span.pro_title {
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
}
.list_layout span.pro_price {
    font-size: 27px !important;
}
.list_layout img {
    width: 35%;
    border-radius: 5px;
}
.list_layout .product_info {
    margin-left: 5px;
}
}